.chatbot-styles {
    height: 100%;
    width: 100vw;
}

.react-chatbot-kit-chat-container {
    position: relative;
    height: 88.4svh;
    width: auto;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.react-chatbot-kit-chat-inner-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.react-chatbot-kit-chat-message-container {
    position: relative;
    height: 100%;
}

.react-chatbot-kit-chat-input-container {
    position: relative;
    display: none;
}

.react-chatbot-kit-chat-bot-message {
    margin-left: 0;
}

@media (min-width: 768px) {
    .chatbot-styles {
        width: 50vw;
    }
}

.react-chatbot-kit-chat-bot-message {
    height: fit-content;
    position: relative;
}


